figure, section{
  scroll-margin-top: 6rem;
}

.navbar-brand img{
    max-width: 60px;
}

.carousel-item{
    height: 500px;
}

.carousel-item img{
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.carousel-item::before {
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent, rgb(31, 31, 31));
    position: absolute;
  }

  .blockquote-footer cite{
    color: #EA222F;
  }

  .blockquote h3{
    max-width: 600px;
    margin: 0 auto;
  }

  .card-menu-item img {
    max-height: 300px;
    object-fit: cover;
  }

  .nav-js-list > .nav-link{
    color: #2B3035;
  }

  .nav-js-list > .nav-link:hover{
    color: #EA222F;
  }

  .card-body{
    max-height: 600px;
  }

  .col-md-4 img{
    height: 100%;
  }

  .card-text{
    font-size: 0.8rem;
  }

  .card-menu img{
    height: 300px;
    max-width: 400px;
    object-fit: cover;
  }

  .button-flex{
    display: flex;
    align-items: center;
    justify-content: center;
  }
